{% set baseClass = 'c-hello' %}

{% embed "@templates/objects/base/base.html.twig" with { path: _self } %}
    {% block component %}
        <div class="{{ baseClass }}">
            <p>Hello world!</p>
        </div>
    {% endblock %}
{% endembed  %}