.c-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: $padding-20;
    border: 1px solid $color-black;

    &__title,
    &__media,
    &__rte {
        margin-bottom: $margin-10;
    }

    &__title {
        font-weight: $font-weight-bold;
    }

    &__media {
        max-width: 200px;

        img {
            width: 100%;
        }
    }
}