{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set componentClass = 'c-homepage' %}

{% block content %}
    <div class="{{ componentClass }} {{ attributes.class }}" {{ attributes }}>
        {% if paragraph %}
            {{ paragraph }}
        {% endif %}
    </div>
{% endblock %}