{% extends "@templates/objects/base/_base.html.twig" %} {% set path = _self %}

{% set objectClass = 'o-media' %}

{% block content %}
    <div {{ attributes.addClass(objectClass) }}>
        {{ title_suffix.contextual_links }}
        {{ image|with(["0", "#item_attributes"], { "class": objectClass ~ "__image" }) }}
    </div>
{% endblock %}