// Common
$color-black: #000;
$color-grey-darker: #222;
$color-grey-dark: #444;
$color-grey: #666;
$color-grey-light: #888;
$color-grey-lighter: #aaa;
$color-white: #fff;

// Text
$color-text: $color-black;
$color-text-two: $color-white;
$color-text-three: $color-grey;

// Main
$color-main: $color-black;
$color-main-two: $color-white;
$color-main-three: $color-grey;

// Other
$color-shadow: rgba($color-black, 0.15);
