// Common
$color-black: #000;
$color-grey-darker: #222;
$color-grey-dark: #444;
$color-grey: #666;
$color-grey-light: #888;
$color-grey-lighter: #aaa;
$color-white: #fff;

// Default
$color-text-primary: $color-black;
$color-text-secondary: $color-white;
$color-red: red;